<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title></title>
	<link rel="stylesheet" href="style.css">
	<script src=" https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
	<div id="vue-app">
		<h1>{{great("night")}}</h1>
		<h1>{{name}}</h1>
		<p>job:{{job}}</p>
		<a v-bind:href="website"></a>
		<p v-html="websiteTag"></p>
	</div>
	<div id="hello">
		<h1>event</h1>
		<button v-on:click.once="add(1)">长一岁</button>
		<button v-on:click="subtract(1)">减一岁</button>
		<button v-on:dblclick="add(10)">长一岁</button>
		<button v-on:dblclick="subtract(10)">减一岁</button>
		<p>My age is {{age}}</p>
		<div id="canvas" v-on:mousemove="updateXY">{{x}},{{y}}
			<span v-on:mousemove.stop="">stop</span>
		</div>
		<a v-on:click.prevent="alert()" href="http://www.baidu.com">baidu</a>
	</div>
	<div id="jianpan">
		<h1>键盘event</h1>
		<label>姓名：</label>
		<input type="text" v-on:keyup.enter="logName">
		<label>年龄：</label>
		<input type="text" v-on:keyup.enter="logAge">
	</div>
	<div id="shuangxiang">
		<h1>双向绑定</h1>
		<label>姓名：</label>
		<input type="text" ref="name" v-model="name">
		<span>{{name}}</span>
		<label>年龄：</label>
		<input type="text" ref="age" v-model="age">
		<span>{{age}}</span>
	</div>
	<div id="comput">
		<h1>Computed计算属性</h1>
		<button v-on:click="a++">add to A</button>
		<button v-on:click="b++">add to B</button>
		<p>A - {{a}}</p>
		<p>B - {{b}}</p>
		<p>Age + A = {{addToA}}</p>
		<p>Age + B = {{addToB}}</p>
	</div>
	<div id="style">
		<h1>动态 CSS Class</h1>
		<h2 >实例1</h2>
		
		<h2>实例2</h2>
		<button v-on:click="changeColor = !changeColor">changeColor</button>
		<button v-on:click="changeLength = !changeLength">changeLength</button>
		<div v-bind:class="compClasses"
		>
			<span>hery</span>
		</div>
		
	</div>
	<div id="vif">
			<h1> v-if 条件</h1>
			<button v-on:click="error=!error"> Error</button>
			<button v-on:click="success=!success"> Sucess</button>
			<p v-if="error">网络连接错误</p>
			<p v-else-if="success">网络连接成功</p>
	</div>
	<div id="vfor">
		<h1>v-for循环</h1>
		<ul>
			<li v-for="a in character">{{a}}</li>
		</ul>
		<ul>
			<li v-for="(b,index) in users">{{index}}.{{b.name}}_{{b.age}}</li>
		</ul>
		<template v-for="(c,index) in users">
			<h3>{{index}} . {{c.name}}</h3>
			<p>{{c.age}}</p>
		</template>
	</div>
	<div id="demo">
		<div id="bag" v-bind:class="{burst:ended}"></div>
		<div id="bag-h">
			<div v-bind:style="{width:health+'%'}"></div>
		</div>
		<div id="controls">
			<button v-on:click="punch" v-show="!ended">使劲敲</button>
			<button v-on:click="restart">重新来</button>
		</div>
	</div>
	<div id="zujian">
		<h1>初识vue组件</h1>
		<div id="one">
			<greeting></greeting>
		</div>
		<div id="two">
			<greeting></greeting>
		</div>
	</div>
	<script src="App.js"></script>
	<script src="hel.js"></script>
	<script src="jianpan.js"></script>
	<script src="shuangxiang.js"></script>
	<script src="conpute.js"></script>
	<script src="style.js"></script>
	<script src="vif.js"></script>
	<script src="vfor.js"></script>
	<script src="demo.js"></script>
	<script src="zujian.js"></script>
</body>
</html>